/* Padrão de estilo 
* Import das fonts em:
* - Menu Login (Public)
* - Menu Sistema Interno (Private)
*/
*{
    font-family: 'Roboto', sans-serif;
}

/* Logo Navbar Interno Sistema */
.logo{
    color: #FFF;
    font-size: 17px;
    padding-top: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

/* Logo Navbar Pagina Login*/
.logo-login{
    color: #FFF;
    font-size: 17px;
    padding-top: 20px;
    font-weight: bold;
}

/* Mensagens de Erro 403 e 404 */
.error-http{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top:100px;
}

/* Imagem 403 e 404 Mensagem de Erro */
.img-error-header{
    font-size:150px;
    color: #8b3535;
    text-shadow:#000 5px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px
}

/* Linha da Div */
.row {
  margin-bottom: 0px;
}

/* Background da Tela Login */
.background-login{
	background-color: #FFFFFF; 
}

/* Background do Sistema */
header{
	background-color: #FFFFFF; 
}

/* Div Main*/
div[role="main"]{
    position:relative;
    height: 100%;
    padding:0px 0 0px 0;
    margin:0 auto 0 auto;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

/* Rodapé */
footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-top: 30px;
    overflow: visible;
    z-index: 99;
    height:30px;
    left: 0px;
    padding: 10px; 
    border-top: 2px solid #393939; 
    background-color: #ffffff; 
    text-align: center; 
}

/* Navbar */
.navbar-default{
    background-color: #000000;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #ffffff;
    background-color: #393939;
}

/* Navbar Menu Active */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover{
    background-color: #393939;
}


.dropdown-menu>li>a:hover{
    background-color: #393939 !important;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus{
    background-color: #393939;
}

/* Cor do submenu da navbar */
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus{
    background-color: #393939;
}

.dropdown-menu{   
    background-color: #808080;
    
}
.dropdown-menu>li>a{
    color: #FFFFFF;
    line-height: 30px;
}

/* DropDown da Navbar */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 10px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* 
 * Estilização das mensagens de erro do Validator Form Jquery
*/
input.error{
    border:1px solid #FF0000 !important; 
}

label.error,div.error{
    float: left;
    padding-top: 3px;
    font-family: 'Roboto',sans-serif;
    color:#B94A48;;
    margin-left:5px;
    display:inline;
    font-size: 12px;    
}

label.error::after {	
content: ".";
width: 1px;
}   



/*
 * Alteração dos Botões
 */
.btn-success{
    border: #26a69a;
    border-radius: 4px;
    cursor: pointer;
    background-color: #26a69a;
}

.btn-danger{
    border: #D32F2F;
    border-radius: 4px;
    cursor: pointer;
    background-color: #D32F2F;
}

.btn-primary{
    border: #8b3535;
    border-radius: 4px;
    cursor: pointer;
    background-color: #8b3535;
}

.btn-primary:hover,.btn-primary:focus { 
    background-color: #4D679F;
}

/* Botão maior para Login Cadastro */
.btn-login{
    width: 200px;
}



/* Botão para Login da Navbar */
.btn-login-menu{
    background-color: #8b3535;
    color: #FFF;
    font-weight: bold;
    border-color: #FFF;
    width: 100px;
}

.btn-login-menu:hover{
    background-color: #4D679F;
}

/*
 * Alteração Tabela
 */
.table-info{
    background-color: #8b3535;
    color: #FFF;
}

/*
 * Alteração Breadcrumbs
 */
.breadcrumb{
    background-color: #FFF;   
}

.breadcrumb>.active{
   color: #111111;  
}

a, a:hover{
  color: #393939;
  cursor: pointer;
}

/*
 * Alteração do Botão pesquisa
 */
.btn-info {
    padding: 13px;
    background-color: #8b3535;
}


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loading-page {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loading.gif) center no-repeat #fff;
}

/* Removendo espaço no navbar da tela login*/
form {
  margin-bottom: 0px;
}

.pull-right {
  margin: 12px; !important;
    
}

.mat-input{
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    height: 38px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
}

.mat-input:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom-color: skyblue;
}

